@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
* {
  background-color: #0b192f;
  font-family: "NTR", sans-serif;
}
@media only screen and (max-width: 800px) {
  .designcredits,
  .designcredittxt {
    margin-right: -10px;
    margin-left: 95px;
  }
}
